body
{
  font-family: "Inter", sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    background-color: #f5f5f5;
}
.line
{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0;
    margin-bottom: 15px;
}

.col
{
    width: 100%;
    display: grid;
    grid-template-columns: 0.7fr 2fr;
    grid-gap: 20px; 
}
.description{
    width: 91%;
    display: grid;
    grid-template-columns: 0.36fr 2fr;
    grid-gap: 0;
    margin-bottom: 15px;
}
/* les champs */
.champ {
    position: relative;
    min-width: 400px;
    max-width: 80%;
}
.champ input ,.champ select
{
    width: 85%;
    height: 40px;
    padding-right: 5px;
    padding-left: 10px;
    font-size: 15px;
    outline: none;
    border: none;
    border: rgb(80, 79, 79) solid 1px;
    border-radius: 3px;
}
#IDBVV ,#IDBVNVQ ,#IDBVNVQV {
    background-color: #f5f5f5;
    color:black;
    border: #f5f5f5 solid 1px;
}
h5{
    font-size: 17px;
}
h6{
    font-size: 15px;
    margin-left: 15px;
}
hr{
    width: 50%;
    margin-left: calc(25%) ;
}

/* les boutons */
.boutonsparametre{
    width: 100px;
    margin-left: calc(100% - 150px) ;
    display: flex;
}
.bi-plus{
    color: #32bea6;
    font-size: 25px;
   
}
.alertverif{
    color: red;
    font-size: 14px;
    display: none;
    text-align: center;
    width: 85%;
   
}
.bi-arrow-bar-down{
    color: #852747;
    font-size: 25px;
   
}
.bi-dash{
    color: #e63546;
    font-size: 25px;
    text-align: end;
}
#titleadd {
    background: #32bea6;
    color: white;
    font-size: 17px;
}
#titledelete {
    background: #e63546;
    color: white;
    font-size: 17px;
}
.boutons {
    width: 92%;
    text-align: end;
}

#addordretravailmes{
    margin-left: 160px;
}

.addordretravailmestitle {
    font-size: 35px;
    width: 650px;
}