@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");
body {
    font-family: "Inter", sans-serif;
}

:root {
    --color-white: #fff;
    --color-light: #f5f5f5;
    --color-black: #131316;
}


/*cards*/

.capacite_machine {
    margin-left: 195px;
    background-color: var(--color-light);
    padding: 20px;
    width: 1000px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8);
}

.table {
    border: #070002 solid 1px;
    margin-top: 20px;
}

.title_table {
    margin-left: 210px;
}


/*les champs input qui se trouve dans le crud*/

.champ_select select {
    width: 60%;
    min-width: 220px;
    height: 40px;
    padding: 0 15px;
    font-size: 16px;
    background: #fff;
    border: #070002 solid 1px;
    margin-left: 190px;
    margin-top: 20px;
}


/**responsive*/

@media(max-width:800px) {
    .table td:nth-child(1) {
        display: none;
    }
    .table th:nth-child(1) {
        display: none;
    }
    .crud {
        margin-left: 100px;
    }
}

@media(max-width:1000px) {
    .table td:nth-child(6) {
        display: none;
    }
    .table th:nth-child(6) {
        display: none;
    }
}

@media(max-width:600px) {
    .table td:nth-child(5),
    .table th:nth-child(5) {
        display: none;
    }
    .crud {
        margin-left: 20px;
    }
}